<div class="card">
  <%= image_tag "yarn.jpg", class:"card-img-top img" %>
    <div class="card-body">
          <h5 class="card-title"><%= yarn.name  %></h5>

    <div class="small_row">
      <p class="card-text"><%= yarn.brand %></p>
      <span class="card-text"><%= yarn.price %> $</span>
    </div>
<div class="small_row">
      <p class="card-text"><%= yarn.weight %></p>
      <span class="card-text"><%= yarn.created_at.strftime("%Y-%m-%d") %></span>
</div>
</div>
</div>
