<%= link_to product_path(product) do %>
<div class="card" >
  <%= image_tag product.photos[0], class:"card-img-top img" %>
    <div class="card-body">
          <h4 class="card-title"><%= product.name  %></h4>
          <%= cl_image_tag product.user.photo.key, class: "avatar-card" %>

    <div class="small_row">
      <p class="card-text"><%= product.brand %></p>
      <span class="card-text price"><%= humanized_money_with_symbol(product.price) %></span>
    </div>
  <div class="small_row">
      <p class="card-text"><%= product.weight %></p>
      <% if ((Time.new - product.created_at) / 1.day).round == 0 %>
        <p class="fst-italic text-secondary">Added today</p>
      <% elsif ((Time.new - product.created_at) / 1.day).round == 1 %>
        <p class="fst-italic text-secondary">Added 1 day ago</p>
      <% else %>
        <p class="fst-italic text-secondary">Added <%= ((Time.new - product.created_at) / 1.day).round %> days ago</p>
      <% end %>
</div>
</div>
</div>
<% end %>
he
