<div class="card">
  <%= image_tag "yarn.jpg", class:"card-img-top img" %>
    <div class="card-body">
          <h5 class="card-title"><%= product.name  %></h5>

    <div class="small_row">
      <p class="card-text"><%= product.brand %></p>
      <span class="card-text"><%= product.price %> $</span>
    </div>
<div class="small_row">
      <p class="card-text"><%= product.weight %></p>
      <span class="card-text"><%= product.created_at.strftime("%Y-%m-%d") %></span>
</div>
</div>
</div>
