<div data-controller="navbar" class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky">
  <div class="container-fluid">
  <div class="left"><%= link_to products_path, class: "navbar-brand" do %>
      <%= image_tag "loopyex.png" %>
    <% end %>
      <%= link_to products_path do %>
        <h1 class='brand-name'>  loopy</h1>
      <% end %>

    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-center">
        <% if user_signed_in? %>

            <li class="me-2">
              <%= "Welcome, #{current_user.first_name}" %>
            </li>

          <br>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Sell Product", new_product_path, class: "dropdown-item" %>
              <%= link_to "My Stash",  user_path(current_user), class:" dropdown-item" %>
              <%= link_to "View Orders", user_orders_path(current_user), class: "dropdown-item" %>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Messages", "#", class: "dropdown-item" %>
              <hr class="dropdown-divider">
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


 <%# <% if user_signed_in? %>
      <%# <%= "Welcome, #{current_user.first_name}" %>
    <%# <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>
