<div class="new-product-form">
  <div class = "container devise-card" id="productForm">
    <div class = 'container-relative' >
      <img src="https://images.unsplash.com/photo-1588676006059-956f7751dc31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
      class="img rounded-4 cover" alt="..." >
      <div class="text-box">
        <h2>Edit this product</h2>
    </div>
    </div>
      <div id="inputFields">
      <%= simple_form_for(@product) do |f| %>
        <div class="form-input p-0">
          <div class="d-flex justify-content-between flex-wrap p-0 m-0">
            <%= f.input :name, input_html: { value: @product.name } %>
            <%= f.input :brand, as: :select, collection:  ['Adriafil', 'Austermann', 'BC Garn', 'Bergere de France', 'Berroco', 'Caron',
                                        'Cascade Yarns', 'DMC', 'Debbie Bliss', 'Drops', 'Istex', 'ITO', 'Katia',
                                        'Knitting for Olive', 'Lana Grossa', 'Lang Yarns', 'Lion Brand', 'Malabrigo',
                                        'Noro', 'Novita', 'Phildar', 'Rico', 'Rowan', 'Schachenmayr', 'Scheepjes',
                                        'The Fibre Co.', 'Life in the Long Grass', 'Hobbii', 'Other'],
                        selected: { value: @product.brand } %>
            </div>
          <div class="d-flex justify-content-between flex-wrap p-0 m-0">
            <%= f.input :price, label: "Price (€)", input_html: {min: '1', step: "1", value: @product.price } %>
            <%= f.input :quantity, input_html: {min: '1', value: @product.quantity }, step: 'any' %>
          </div>
          <div class="d-flex justify-content-between flex-wrap p-0 m-0">
            <%= f.input :color, input_html: { value: @product.color } %>
            <%= f.input :material, input_html: { value: @product.material } %>
            <%= f.input :weight, as: :select, collection: ['Lace', 'Fingering', 'Sock', 'Sport', 'DK', 'Worsted', 'Aran',
                                                           'Chunky', 'Super Chunky', 'Bulky', 'Jumbo', 'Other'],
                                                           selected: { value: @product.weight } %>
          </div>
          <%= f.input :description, input_html: { value: @product.description }  %>
          <%= f.input :address, input_html: { value: @product.address } %>

          <div class="d-flex justify-content-center">
            <% if @product.photos.attached? %>
              <% @product.photos.each do |attach| %>
                <%= cl_image_tag attach.key, width: 200, height: 150, crop: :fill, class: "mx-2 my-3 rounded-4" %>
                <%= f.hidden_field :photos, value: attach.signed_id %>
              <% end %>
            <% end %>
          </div>
          <%= f.input :photos, multiple: true, label: false %>

        </div>
        <div class="form-actions d-flex flex-column align-items-center">
          <%= f.button :submit, "Update", class: "btn btn-success fw-bold text-white fs-5" %>
          <%= link_to "Delete this product", product_path(@product),
            data: { confirm: "Are you sure?" },
            method: :delete,
            class: "btn btn-info fw-bold text-white fs-5 mt-2" %>
        </div>
      <% end %>
    </div>

    <div class="container mt-3">
      <%= link_to user_path(current_user) do %>
       <h4><i class="fa-solid fa-backward"></i> Back to your stash</h4>
      <% end %>
    </div>
    </div>
  </div>


</div>
